.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background-image removed */
  background: transparent;
}

.form {
  border-right: none;
  max-width: 600px;
  width: 100%;
  padding: 40px;
  min-height: auto;
}
