._wrapper_1ve96_1{min-height:100vh;display:flex;justify-content:center;align-items:center;background:transparent}._form_1ve96_11{border-right:none;max-width:600px;width:100%;padding:40px;min-height:auto}
